<div class="container py-4">
  <h2>{{ isEditMode ? 'Editar Solicitação' : 'Nova Solicitação' }}</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <fieldset formGroupName="solicitante" class="mb-4">
      <legend>Dados do Solicitante</legend>
      <div class="mb-3">
        <label>Nome</label>
        <input
          type="text"
          class="form-control"
          formControlName="ds_responsavel"
        />
      </div>
      <div class="mb-3">
        <label>CPF</label>
        <input type="text" class="form-control" formControlName="nu_cpf" />
      </div>
      <div class="mb-3">
        <label>Data de Nascimento</label>
        <input
          type="date"
          class="form-control"
          formControlName="date_nascimento"
        />
      </div>
    </fieldset>

    <fieldset formGroupName="empresa" class="mb-4">
      <legend>Dados da Empresa</legend>
      <div class="mb-3">
        <label>Nome Fantasia</label>
        <input
          type="text"
          class="form-control"
          formControlName="ds_nome_fantasia"
        />
      </div>
      <div class="mb-3">
        <label>Entidade de Registro</label>
        <input
          type="number"
          class="form-control"
          formControlName="co_entidade_registro"
        />
      </div>

      <fieldset formGroupName="endereco" class="mt-3">
        <legend>Endereço</legend>
        <div class="mb-3">
          <label>CEP</label>
          <input type="text" class="form-control" formControlName="co_cep" />
        </div>
        <div class="mb-3">
          <label>Logradouro</label>
          <input
            type="text"
            class="form-control"
            formControlName="ds_logradouro"
          />
        </div>
        <div class="mb-3">
          <label>Número</label>
          <input type="text" class="form-control" formControlName="co_numero" />
        </div>
        <div class="mb-3">
          <label>Complemento</label>
          <input
            type="text"
            class="form-control"
            formControlName="ds_complemento"
          />
        </div>
        <div class="mb-3">
          <label>Bairro</label>
          <input type="text" class="form-control" formControlName="ds_bairro" />
        </div>
        <div class="mb-3">
          <label>Município</label>
          <input
            type="text"
            class="form-control"
            formControlName="ds_municipio"
          />
        </div>
        <div class="mb-3">
          <label>UF</label>
          <input type="text" class="form-control" formControlName="co_uf" />
        </div>
      </fieldset>
    </fieldset>

    <button type="submit" class="btn btn-success">Salvar</button>
    <button type="button" class="btn btn-secondary ms-2" (click)="onCancel()">
      Cancelar
    </button>
  </form>
</div>
